[2016-12-03 19:04] ptone opened #1 "add caseta report loader"
From what I can tell - the Caseta smartbridge uses the same integration protocol, but does not serve the xml DB (it responds to telnet but not HTTP)

It will generate a json report like the following (you can tell I'm just starting to add devices)

It looks like there may be some different assumptions? maybe a single area?  If there is a sample of the XML report, I'd be willing to take a look at t

[2017-01-12 03:28] thecynic commented on #1
Did you get a chance to add all your devices? I'd be curious to see what a fully populated one looks like. How do you query this from your Caseta thingie?

[2017-01-18 20:18] adam-fox commented on #1
I can help. This is pulled directly from the app. The Pro version of the bridge allows you to export an integration report. Would love to see Caseta support added to this project. Unfortunately, I've no idea how to help other than providing this:

{
  "LIPIdList" : {
    "Devices" : [
      {
        "ID" : 1,
        "Name" : "Smart Bridge",
        "Buttons" : [
          {
            "Name" :

[2017-01-25 09:40] thecynic commented on #1
Is this last one what is provided by pro version? Is this the integration report? or is that something different?

[2017-01-25 09:45] thecynic opened #2 "Add an API to allow enumeration of IDs only"
For HASS, it would be nice if the enumeration interface provided a set of IDs and then allowed one to retrieve the proper object based on the ID. Integration ID would work quite nicely for most things, though things like motion sensors will be funky.

[2017-01-25 09:56] thecynic commented on #1
Also, doesn't seem like there's anything mapped to the Picos or in the "virtual" buttons on the smart bridge? You just have and only use the dimmers?

[2017-01-25 14:10] adam-fox commented on #1
Apologies for not getting that to format correctly. Yep, it's the Pro hub and the Picos were being used with a different home automation hub to control some Hue lights.

[2017-05-03 13:00] andrey-git opened #3 "Publish pylutron on pypi"
Could you publish this package on Pypi, so it can be fetched without specifying the github URL?

home-assistant/home-assistant#7069

[2017-05-20 08:24] thecynic commented on #3
Done. https://pypi.python.org/pypi?name=pylutron&version=0.1.0&:action=display

[2017-05-20 08:24] #3 closed

[2017-05-20 08:28] thecynic commented on #3
PR https://github.com/home-assistant/home-assistant/pull/7664 for HASS

[2018-01-11 14:23] nickovs opened #10 "More complete keypad support needed"
The current support for keypads is fairly minimal. @bdunks has put forward a patch #8 to allow the emulation of button presses and I've been working on a separate patch to support subscriber notification of button presses and LED changes. Before I go too far on my patches I thought it would be useful to have a discussion about the best way to represent these components as objects.

As I see it the

[2018-01-18 00:56] bdunks commented on #10
I may have addressed some of these in an [enhanced-button-support](https://github.com/bdunks/pylutron/tree/enhanced-button-support/pylutron) branch on my fork from some time back, which I never submitted since #8 didn't get traction, and because I never got to two last items on my refactoring checklist, which I'll address with your third question.

Supported.

Supported. (More in response to quest

[2018-01-18 13:52] nickovs commented on #10
Thanks for the detailed reply.

With regard to subscribing to button events, it looks like the code that you have for handing button events does not distinguish between **press**, **release**, **hold** and **multi-tap** events on the buttons and nor can a subscriber to events on those buttons. This is what I meant when I said that there is a need to see the details of the event since currently you

[2018-01-21 22:49] bdunks commented on #10
Thanks for pointing this out.

I have a RadioRA 2 system, which doesn't support **hold** or **multi-tap** events, and I don't have any shades on the system, and had never seen an "Open" / Action = 4 event, but it wouldn't call the subscriber in the current implementation.

I would be a proponent of a generally enhanced subscription system that allowed you to subscribe not just to objects but to sp

[2018-01-21 23:04] nickovs commented on #10
Yes, you're right that the RadioRA2 doesn't support multi-tap, although it can send hold events. You can also get press/release event pairs from the raise and lower buttons for both lights and shades. I have shades on my system so I can do testing on that.

I'd be happy to have the event filtering done by the library rather than having to let the subscriber filter, although I think that you still

[2018-03-12 00:55] thecynic commented on #10
Sorry guys, it;s been quite crazy for me and I haven't been able to get to any of this. Also, these seem to get buried in my gmail box. I'll try to catch up with some of the comments soon.

[2018-03-12 01:02] thecynic commented on #10
I think subscribing to button/led events directly is more in line with what I was thinking originally. I never completed any of that because I don't have any fancy scenes that I trigger from HASS.

Could you describe why you need multiple subscribers though? There's a single owner of this library when its instantiated within HASS, or anywhere else. Why can't you vector out in the client callback?

[2018-03-12 08:06] thecynic opened #12 "Split up the code into a few files (parser, etc.)"
What was a small bring up library has been growing. It's soon time to do a clean up path and split things up for sanity.

[2018-03-12 12:40] nickovs commented on #10
@thecynic Thanks for getting back to us despite things being crazy. I don't think we need multiple subscribers; all I was saying is that we might want multiple types of subscriber and so we needed a richer model of passing context to the subscriber. As well as passing back more information about the event it would be useful to be able to register a context object that would be passed back when the

[2018-03-19 10:12] thecynic commented on #10
@nickovs Ok, had some more time to hack on it. Now has a subscription model for outputs, keypads, buttons, leds, etc. You can toggle leds and buttons. Take a look at the dev-buttons-leds branch.

I still am not taking a context object because I think you can do that when you create the callback and thus it just adds more clutter. You can either pass a helper from the wrapper class in HASS, or you

[2018-03-19 13:39] nickovs commented on #10
I see, after finishing my first coffee of the day, that you did suggest:

so my explanation was probably unnecessary, at least for you. Still, I find that idiom way less straightforward than just having a context object and I also think it's much easier for someone coming to the code later who is not aware of the pass-by-reference pitfall to miss it and break things.

The final decision is of cour

[2018-03-19 22:51] thecynic commented on #10
On Mar 19, 2018 6:39 AM, "Nicko van Someren" <notifications@github.com>
wrote:

I see, after finishing my first coffee of the day, that you did suggest:

you can add a lambda and bind your context object with a default value arg

so my explanation was probably unnecessary, at least for you. Still, I find
that idiom way less straightforward than just having a context object and I
also think it's mu

[2018-03-19 22:54] thecynic commented on #10
On Mar 19, 2018 6:20 AM, "Nicko van Someren" <notifications@github.com>
wrote:

Ok, had some more time to hack on it. Now has a subscription model for
outputs, keypads, buttons, leds, etc. You can toggle leds and buttons. Take
a look at the dev-buttons-leds branch.

Thanks! I will take a look. Note that on initial inspection I think that
you have a problem with your Button.Event.RELEASED definitio

[2018-03-25 10:17] thecynic commented on #10
So "tonight" was optimistic.

I finally got some time to poke around. Take a look at the latest commit on the branch. Gives you the context ptr you wanted, and handles released ;-)

I'll probably end up collapsing a few commits together (like the WIP and the tip) in a bit, but take a look and see if anything is missing.

I'd like to get the motion sensor stuff sorted as that would be nice to expor

[2018-03-25 14:38] nickovs commented on #10
Great. I'll give it a try.

I'm happy to try out motion sensor code when you have some if you want. I started [some work on this](https://github.com/nickovs/pylutron/blob/better_notifications/pylutron/__init__.py#L594) a little while ago but there's not much to it. The only thing to note is that there are two types of Radio RA2 Powr Savr(™) sensor, the OCR2B and the VCR2B. The later only sends eve

[2018-03-25 22:56] thecynic commented on #10
I'm aware :) I have quite a few OCR2Bs sprinkled around the house. I didn't bother with VCR2Bs because OCR2Bs is strictly a superset from my perspective and I didn't want to be restricted.

The querying is supported, just probably has a lot of edge cases. For instance, OCR2B reliably produces occupied/unoccupied state, presumably because the master keeps track.

I'm going to see what the HASS chan

[2018-03-26 15:08] nickovs commented on #10
Are you successfully querying the occupancy state of individual sensors, or of areas and groups? The current [Lutron Integration Protocol](http://www.lutron.com/TechnicalDocumentLibrary/040249.pdf) guide does not list querying the Powr Savr sensors as an option (page 140, the 'Occupied' and 'Unoccupied' actions are only listed to support '~' for 'Report'). Supporting being able to poll the occupan

[2018-03-30 03:07] dummptyhummpty commented on #10
Thank you all for the great work on this! Will anything need to be changed in HASS to support these changes? I'd love to help test, but I only have a repeater at this point so won't be that useful.

[2018-04-02 22:37] sergiobaiao opened #13 "homeworks QS"
hi there,

i just made pylutron working with my lutron homeworksQS setup. The only change i made was in __init__.py, where i changed GNET for QNET. The commands are all the same, both platforms rely on lutron QS Control Protocol. Can you include this on a future release so it can work with both systems?

[2018-04-28 00:57] dkopack opened #15 "Support for Lutron HVAC Controllers"
It'd be nice to expose Lutron HVAC Controllers to HomeAssistant. Any objections if I take that on?

[2018-05-01 07:45] fl0zan0 commented on #13
any news about that ?

[2018-08-27 18:39] nickovs opened #17 "Command-sending fails to auto-connect."
The `LutronConnection.send()` method doesn't call `_maybe_reconnect()` and as a result if it is called and the connection has dropped an attribute error exception is raised because `None` has no `write()` method (see the stack trace below from Home Assistant). As it stands there can't just be a `_maybe_reconnect()` in the send method because it gets called from `_do_login()` but if might be good t

[2018-09-10 00:30] txwindsurfer commented on #13
Yes, I would really like to use this as well.  Can the prompt be a configuration variable?

[2018-10-26 19:06] jon102034050 commented on #10
Has there been any further development with this? Where do things stand?

[2018-10-26 19:54] nickovs commented on #10
The short answer is no. Some of the foundational work necessary was put in in version 0.2.0 but that was several months ago. I've been meaning to pick this up but I switched jobs so I've been rather busy. It is still something that I would like to have.

Perhaps the maintainer will reply to this.

[2018-10-26 20:44] jon102034050 commented on #10
congrats on the new job nicko :) maybe @bdunks will chime in also? I was working with him outside of GH on a personal branch of his and he had quite a bit working as of a month or 2 ago.

[2018-12-02 20:30] txwindsurfer commented on #13
I did the same and Hass now works great with HomeworksQS. You have to do a custom install however since this file isn't editable in hass.io

[2018-12-03 11:30] fl0zan0 commented on #13
Thank you very much

Best regards

[2019-02-16 21:15] koreth opened #24 "'Button' object has no attribute 'keypad'"
Using Home Assistant 0.87.1 which uses pylutron 0.2.0, I see this in my logs. After this message, Home Assistant stops being able to interact with my Lutron repeater.

[code]

[2019-02-17 18:23] koreth opened #26 "FutureWarning on Python 3.6"
When the library first loads the XML tree from the repeater, Python 3.6's xml.etree module prints a warning:

[code]

[2019-03-01 16:40] grantalewis opened #29 "AttributeError: 'NoneType' object has no attribute 'write'"
Apologies if this is repetitive information. I've made a couple of other posts elsewhere but am not sure that those have been seen.

RPi3, Hass.io. I'm encountering problems with pylutron since 0.85.1; last working version was 0.84.6.

This version of the error message was from 0.85.1:

[code]

This version of the error message was from 0.87.1:

[code]

I have not tried later versions than 0.87.1

[2019-03-01 18:21] cdheiser commented on #29
As has been mentioned in home assistant, there is a known bug: https://github.com/thecynic/pylutron/issues/17

There's an outstanding pull request to resolve it.

[2019-03-01 18:28] grantalewis commented on #29
Thank you, cdheiser. I appreciate the reassurance.

[2019-03-09 13:01] grantalewis commented on #29
Tried upgrading to 0.89.1. Added your patch in custom_components, @ cdheiser.
`.
├── ...
├── config
│   ├── custom_components
│   ├── pylutron
│    │   ├── __init__.py
`

Although I'm not seeing the same errors in the log, behavior is the same for me: Lutron entities are responsive to HA commands for a few hours but eventually lose connectivity.

Log:
`
2019-03-08 23:08:36 WARNING (MainThread) [ho

[2019-03-10 15:45] cdheiser commented on #29
I don't believe any of those errors have anything to do with pylutron or
the lutron home assistant component.  It does look like you seem to have
other connectivity issues for some reason.

On Sat, Mar 9, 2019, 5:01 AM grantalewis <notifications@github.com> wrote:

[2019-03-10 15:59] grantalewis commented on #29
Fair enough -- I admit that I don't really know what I'm looking at. I can tell you that adding the custom_component was not a solution thanks to you the the Custom Components file structure change.

[2019-03-12 23:56] cdheiser commented on #29
If I have time soon, I could try to create an instrumented version of
pylutron for you to patch in and see what it produces.

On Sun, Mar 10, 2019 at 8:59 AM grantalewis <notifications@github.com>
wrote:

[2019-03-13 00:14] grantalewis commented on #29
I’d be grateful.

[2019-03-15 06:45] cdheiser commented on #29
Can we start with changing the logging level in Home Assistant??  And when
it triggers again, grep out all pylutron entries from the homeassistant log?

logger:
  logs:
    pylutron: debug

On Tue, Mar 12, 2019 at 5:14 PM grantalewis <notifications@github.com>
wrote:

[2019-03-16 14:13] grantalewis commented on #29
OK, I've upgraded to 0.89.2 and added to configuration.yaml:

[code]

When I first enabled logging last night the Pi would reboot every ~20 minutes, so I rem'd out several configuration.yaml components. I'm surprised at how quickly the home-assistant.log fills up: 20+MB in ~45 minutes.

Strange: I'm not seeing the same errors in pylutron that I was seeing previously. But the symptoms are similar.

[2019-03-17 05:25] cdheiser commented on #29
Can you try it again but use this config:

logger:
  default: info
  logs:
    pylutron: debug

The current log only has a few pylutron entries, and for some reason
omitting the default has set all logs to DEBUG level with definitely isn't
helping.

On Sat, Mar 16, 2019 at 7:13 AM grantalewis <notifications@github.com>
wrote:

[2019-03-18 01:29] grantalewis commented on #29
OK, made the logging changes you suggested.

The problem just occurred again; unfortunately still nothing about pylutron showing in the logs. I'm beginning to wonder if the problem I'm seeing is due to something else.

Same symptom as before: I turned on a toggle in the HA UI. The light turns on, but the toggle returns to its OFF position while the light stays on.

Here's the log:

[code]

[2019-03-18 02:23] cdheiser commented on #29
You could try using the 0.1.0 version of pylutron to confirm.

On Sun, Mar 17, 2019, 6:29 PM grantalewis <notifications@github.com> wrote:

[2019-03-18 02:42] grantalewis commented on #29
I believe I see your 1.0 release, Oct 11, 2016, here: https://github.com/thecynic/pylutron/releases

But wouldn't implementing that involve involve custom_components? And doesn't the new custom components file structure make that significantly different than previously?

[2019-03-20 01:48] grantalewis commented on #29
Checking in, re-read your comment and realize now you said 0.1.0, not 1.0. Apologies.

But two problems with that: 1) I'm not sure where to find 0.1.0 and 2) even if I did, I wouldn't have a clue how to implement it given the new requirements for custom components.

I know this is a hassle but I'd really appreciate your continued assistance.

[2019-03-20 05:53] cdheiser commented on #29
I believe you need to copy the entire lutron component into custom
components, and then you can change __init__.py like so:

REQUIREMENTS = ['pylutron==0.1.0']
I believe if/when you restart, it should pull down 0.1.0 (but it might
clash/conflict with the 0.2.0 version).  I've never tried it.

On Tue, Mar 19, 2019 at 6:48 PM grantalewis <notifications@github.com>
wrote:

[2019-03-22 00:12] grantalewis commented on #29
Yesterday and today I moved to a brand-new configuration. My old setup was Hass.io running on a RPi3; the new setup is a Mac running VirtualBox, 64-bit Ubuntu, Hass.io. The virtual environment will let me experiment more easily and revert to a working system when I encounter problems.

I was really hoping the new config would magically fix things, but no luck. In fact, I it's kind of remarkable th

[2019-03-24 11:09] grantalewis commented on #29
Problem is still the same: toggle a Lutron light, the light goes on and stays on while the HA toggle returns to its off position. At that point the toggle loses the ability to further control the entity.

This doesn't happen with toggles controlling other entities, only Lutron.

Is there a way to tell if HA is actually using the pylutron==0.1.0 custom_component? I have a hunch it's not but am not

[2019-03-26 19:00] grantalewis commented on #29
Any thoughts on the above?

[2019-03-30 22:31] grantalewis commented on #29
The problem still exists as described above, but I made an  interesting discovery. Although the toggle for the entity still goes "dead," I found out that I can still operate entities through the Services panel:

https://i.imgur.com/SVLPhUq.png

Running HA (Hass.io) 0.90.2 on VirtualBox, Ubuntu 64.

[2019-04-16 21:01] benjimatt opened #30 "Just curious if getting Occupancy sensor status is still a thought"
Hello,  sorry to be that guy that asks this but I just wanted to see if there was still an plan to get the occupancy sensor status working with this implementation.

[2019-05-08 16:49] cdheiser opened #31 "Project seems to be unmaintained"
Including @jon102034050 and @nickovs as interested parties.

This project appears to no longer be maintained.  It's been over 6 months since the last commit, and it's been almost a year since the last version was released to PyPi.

Several contributors (including myself) have expressed interest in actively maintaining and contributing to this project, and would be preferred over forking the projec

[2019-05-09 05:23] dummptyhummpty commented on #31
@cdheiser I’d be interested in helping out in anyway possible. I don’t know Python, but would love to learn. I currently have a RadioRA2 repeater and Pico remote, until I can afford the rest of the components for my house.

[2019-05-18 13:14] JonGilmore commented on #31
@thecynic - just bumping this up, any chance you can make @cdheiser a maintainer so we can push some PR's through?

[2019-05-18 13:28] nickovs commented on #31
@cdheiser and @JonGilmore If there continues to be no reply we might want to consider doing the fork, renaming to pylutron2, pushing it to PyPI under the new name and then sending a PR to HomeAssistant to change over to the new version.

[2019-05-18 13:30] JonGilmore commented on #31
I'm all in favor of it. Pretty sure the original maintainer has fallen off the face of this planet :(

[2019-05-18 18:11] thecynic commented on #31
Sorry, I'm still alive. Just have had family and work commitments really
take over whatever free time I have. I've also had some health issues I had
to work through.

I'll try to go through the backlog here in the next week or two. If I still
can't, I'll designate someone else to have write access to the repo.

Dima

On Sat, May 18, 2019, 6:30 AM Jon Gilmore <notifications@github.com> wrote:

[2019-05-19 20:43] JonGilmore commented on #31
Thanks for replying Dima, glad you're doing OK - health is important! Let us know how any of us can help with this project!

[2019-06-08 12:39] avpavp commented on #31
Hey @thecynic,

I'm sure we all understand being too busy (I certainly can)...

It might be time to let someone else help here...?

Thanks for you work!

[2019-06-09 12:13] avpavp opened #32 "pylutron seem to just go away"
I have a big lutron install, prob 100+ devices.  Using Home Assistant.  It's a big install, shared with a Crestron system.

It seems after random periods of time (hours or days), the pylutron thread just seems to stop or go away.  I suspected some other exception was being thrown (and not handled) in the main run fn.  So I added more generic exception handling there, and sprinkled in some more log

[2019-06-16 03:00] JonGilmore commented on #31
hey @thecynic - any updates? Hope you're doing well. Is it possible to maybe add myself, @cdheiser, and @nickovs as maintainers and we can help collab to push existing PR's through??

[2019-06-21 10:37] thecynic commented on #31
I think I just worked through the backlog of PRs at least. Hopefully once they all get updated and merged, I'll rev the version and push a new copy to pipi.

[2019-06-25 23:31] JonGilmore commented on #31
@thecynic any chance you can push the new updates to PyPI? These upstream changes would help facilitate changes I'm proposing in Home Assistant..

[2019-07-12 15:56] avpavp commented on #32
So I think I've finally gotten to the bottom of this.  In the Button class, line 702 (__init__.py):

`if action not in ev_map:`

Throws an exception - anyone got any idea why this would be happening?

[2019-07-16 05:52] thecynic commented on #32
Do you have a full stack trace?

[2019-07-18 02:04] bdunks commented on #31
@thecynic bumping the request to publish to PyPI. There were some very helpful capabilities added to the library over the last 13 months.

[2019-07-26 03:31] JonGilmore commented on #31
@nickovs @bdunks @cdheiser @dummptyhummpty  @avpavp @Tuckie
Does anybody have feelings if we just dump @thecynic and just fork and handle it on our own? I feel like this is going nowhere are this point, and it's very clear that he's not going to give access up.

[2019-07-26 03:34] dummptyhummpty commented on #31
@JonGilmore While I understand that @thecynic is busy with life, and I think there's been a good effort to keep him involved, but I agree that we need to fork at this point. We can always merge back later if needed.

[2019-07-26 04:10] thecynic commented on #31
Added @JonGilmore as contributor.

[2019-07-26 04:11] dummptyhummpty commented on #31
@thecynic Thank you for doing that!

[2019-07-26 04:12] thecynic commented on #31
Now how to share pypi upload access.

[2019-07-26 15:29] JonGilmore commented on #31
Sweet, thanks @thecynic - I've got an account on PyPI, but how are you currently pushing to PyPI?

[2019-07-26 17:52] nickovs commented on #31
@thecynic You need to log in to PyPI.org, go to 'Your projects', select 'Manage' on the PyLutron project and go to the 'Collaborators' tab. You will need @JonGilmore 's PyPI user name and from there you can add him either as a Maintainer (in which case he can just push releases) or as a co-owner (in which case he can add new collaborators and delete old releases).

[2019-07-26 18:32] JonGilmore commented on #31
Thanks @nickovs ! @thecynic can you please add @nickovs and @cdheiser as contributors? I spent quite a bit of time in python, but don't do it full time, so I still have quite a bit to learn. Might be good to have some seasoned vets in place to help out.
FWIW Dima, I'm `JonGilmore` on PyPI as well.

[2019-07-29 01:17] thecynic commented on #32
I highly doubt the actual issues in the map lookup, it'd be weird but stranger things have happen.

I think the bigger issue is the stuck in read. telnetlib is blocking by default, so if the connection dies (either because you have network issues or main repeater goes away) we'd recover after whatever linux decides is appropriate. Take a look at https://github.com/thecynic/pylutron/pull/34 . It sh

[2019-07-29 01:20] thecynic commented on #26
Could this be closed?

[2019-07-29 01:53] JonGilmore opened #35 "led / component number calculation"
https://github.com/thecynic/pylutron/blob/master/pylutron/__init__.py#L282
When `led_num` is calculated from the component number, it assumes that the led number is 80 less than the component number. For the case of the `MAIN_REPEATER` device type, this is not true. Here's a snippet of the LED `ComponentNumber` from my XML:
[code]
I think we need to do a check to see if we're looking at a `MAIN_RE

[2019-07-29 02:31] thecynic commented on #35
Yeah, you are right. For main repeater its 100, for other keypads its 80. I'll see if i can spin a patch.

[2019-07-29 02:56] thecynic commented on #24
Please check if this could be closed

[2019-07-29 03:22] #35 closed

[2019-07-29 03:38] JonGilmore opened #37 "PyPI update?"
@thecynic can we get an update pushed to PyPI? It'd be awesome to see all this hard work get realized in homeassistant :D

Thanks for all the hard work on this btw!

[2019-07-29 03:41] thecynic commented on #37
Yes, I'd like to get the connectivity stuff reviewed and then i'll push it. I'd also like to push the occupancy group stuff, waiting for achatham to re-review.

I guess i can just push tip, no harm in pushing.

[2019-07-29 03:49] JonGilmore commented on #37
Totally understand ;)
Thx

[2019-07-29 05:45] thecynic commented on #37
Done, pushed tip as 0.2.1. Will push 0.2.2 once the next few PRs go in.

[2019-07-29 05:45] #37 closed

[2019-07-29 05:46] thecynic commented on #31
I added cdheiser to contributors in case I'm not responsive again.

Gonna try better to keep up with things, at least once every few days. Let's see how this goes. I'll close the issue for now, feel free to reopen if things get bad.

[2019-07-29 05:46] #31 closed

[2019-07-29 05:50] thecynic commented on #30
Please take a look at #33 and see if that is enough for your needs.

[2019-07-29 05:53] thecynic commented on #1
Sorry, took no action on this at all. Without having a system I can test on, anything I write will be broken. If someone has a caseta and wants to add support, I'll be glad to take a look at a PR.

[2019-07-29 06:01] sgrimm-sg commented on #24
The change in the PR seemed to fix it on my local system but as far as I know, the PR has yet to be included in an official Home Assistant release. Not sure what criteria you use to close issues, so maybe "it worked locally" is good enough, but if not I'll be happy to report back on it once an HA release includes the latest pylutron that has this fix.

[2019-09-01 07:52] JuanitoAlimana commented on #17
I can’t log in to iTunes anymore

[2019-09-03 02:49] thecynic commented on #32
I believe #34 should resolve most connection issues. Closing this issue. Please open a new issue if things get broken in a new way.

[2019-09-03 02:49] #32 closed

[2019-09-29 22:58] #30 closed

[2019-10-14 14:48] koreth commented on #24
This seems to be fixed in the release.

[2019-10-14 14:48] #24 closed

[2019-10-14 15:43] txwindsurfer commented on #13
Has #22 been closed? Doesn't appear that the code has been added to the base.

[2019-11-03 18:43] txwindsurfer commented on #13
I am using Homeworks QS. Just FYI, the latest pylutron code works without hanging and without changing the prompt from GNET to QNET.

[2019-11-07 06:04] dummptyhummpty opened #43 "Are Pico remotes supported?"
If not, I would love to see support for the Pico remotes.

Thanks for all of the work that is being done on this.

[2019-11-07 06:43] cdheiser commented on #43
Yes.  Pico Remotes are accessible like any other keypad.

[2019-11-07 06:55] dummptyhummpty commented on #43
@cdheiser Awesome! Do you happen to know if they are exposed in HomeAssistant?

[2019-11-07 07:15] cdheiser commented on #43
Yes, they should show up as scenes.

[2019-11-07 16:17] JonGilmore commented on #43
@dummptyhummpty take at look at the docs, I updated with an example on how to catch the pico press and trigger an automation: https://www.home-assistant.io/integrations/lutron/#example-automations

[2019-11-07 16:18] #43 closed

[2019-11-09 17:22] teich commented on #13
Can confirm with a clean install of HassIO and HomeAssistant 0.101.3 Homeworks QS is working great with no s/G/Q needed. Thanks to however this got resolved!

[2019-11-09 21:07] thecynic commented on #29
I think this has been fixed. Please advise if not.

[2019-11-09 21:08] thecynic commented on #17
Think this is resolved with latest connection management improvements.

[2019-11-09 21:10] thecynic commented on #10
@nickovs could you look over the current keypad support (lots of things landed here) and see what else you'd like added? I generally don't use most of this stuff so you folks have to tell me what's needed :-)

[2019-11-09 21:12] thecynic commented on #15
I haven't explored what that would look like asi don't have one. How were you thinking of integrating that?

[2019-11-09 21:20] grantalewis commented on #29
Yes! Resolved. Thanks!

[2019-11-09 21:20] #29 closed

[2019-11-09 21:21] thecynic commented on #13
Bleh, that's actually a bug :-)

When I added timeouts to the code to handle connection drops, I inadvertently allowed it to just timeout on reading the prompt. So, it works because the repeater doesn't fail to connect us when user/pw is right :-)

I'll fix that to report errors correctly but will also add support for QS when I do.

[2019-11-09 21:42] nickovs commented on #10
Sure. I'll give it a try.

[2019-11-19 19:53] alancommike opened #45 "Adding legacy Homeworks HWI controller support"
Hi Folks -

I started adding support for the legacy Homeworks HWI controllers. I have a P5 processor and a wireless processor of the same vintage. So far I have the DB parsing, can push buttons, set light levels, and get responses when levels change. The response code path needs some more debugging. I haven't looked at LEDs yet, that's the last bit.

The goal is to integrate into Home Assistant. I

[2019-11-26 00:50] alancommike commented on #45
I pushed a work-in-progress to my tree. The code basically works, both stand-alone and from within Home Assistant. I also added a small CLI that I used to help test things out. I need to clean things up a bit, add more error checking, and add more docs and such. Main todo is how I did the parser, the initial concept didn't work out, so I ended up with two versions of each parsing function. I'll me

[2019-11-26 01:02] shurhold commented on #10
Not sure if I'm asking this in the right place.  I just got Home Assitant running and connected it to my Lutron QS system.  I can see and do basic items.  The issue I'm posting about is keypad presses triggering events in hassio. The sample and documentation here: https://www.home-assistant.io/integrations/lutron. says I should be able to see keypad presses, but I can not seem to get it to work.

[2019-11-26 23:58] shurhold commented on #10
OK, played with it further and it appears in my QS system only events from Pico Keypads are being recognized.  seeTouch keypad events are broadcast by QS exactly as the Pico's are but the system is ignoring them.

[2019-11-27 06:50] thecynic commented on #45
If you share the tree, I can take a look. How much surgery is this whole thing?

[2019-11-27 20:11] alancommike commented on #45
it's in my tree. https://github.com/alancommike/pylutron

[2019-12-02 03:49] DanskerUS commented on #10
All Pico variants works fine for me on RA2.

The 6-key with raise and lower, such as W6BRL, do generate events in HA, but all keys are of this format: <valid device name>_unknown_buttom

Would be pleased to help ...

[2019-12-02 04:02] DanskerUS commented on #17
I am still seeing failure to reconnect. Power off repeater, back on, or cycle power to eth switch, or temporarily unplug repeater RJ-45, then HA reconnects after reboot only.

[2019-12-24 08:49] rzulian opened #46 "The pylutron in isolation"
Hi @thecynic ,
I wanted to contribute to this project to add support for International Seetouch Keypads, CCIs, WCIs, and of course to support Homeworks.
Do you have a test project for pylutron or are you testing only connecting it with home-assistant?

Do you ever considered to use asyncio?

[2020-01-13 18:40] amattas commented on #17
Home Assistant 0.101.3

[2020-01-21 23:36] Tadimsky commented on #17
I've been seeing this a lot recently in Home Assistant too.

[2020-01-22 17:09] amattas commented on #17
I just updated more information in https://github.com/home-assistant/home-assistant/issues/29642 It's still happening in 0.103.6

[2020-01-23 13:22] JonGilmore commented on #17
Tested this quickly this morning and it doesn't seem to have any impact. If you power cycle the ra2 main repeater while HA is up, it still doesn't reconnect.

[2020-01-23 21:08] beavis9k opened #49 "Disconnects every few seconds from RadioRA2 main repeater"
I first saw this in homeassistant after an update. The pylutron package was updated from 0.2.2 to 0.2.5 as part of that update.

The logs show "Disconnected" every few seconds, then pylutron reconnects to the main repeater. This causes HA to lose control and status of the lutron devices at random times. Sometimes a restart of HA will temporarily fix it. Eventually, the main repeater lights all cha

[2020-01-23 21:11] beavis9k commented on #49
I've tracked the problem down to 693b1838a762a28648febab6a95fe96dff4aae6d. There are two things in that commit causing the issue. I'm testing a fix locally for a couple days before pushing to my fork of pylutron and making a PR.

[2020-01-24 12:45] JonGilmore commented on #49
thanks @beavis9k - looking forward to seeing your PR. Have you checked out https://github.com/thecynic/pylutron/pull/48 or https://github.com/thecynic/pylutron/issues/17?

[2020-01-25 02:25] beavis9k commented on #49
No problem; I'm happy to help.

#17 should be pretty independent of what I'm doing, so no problem there. Turns out the TCP keepalive and keepidle are at the root of what's making my repeater to go into it's error state - my repeater doesn't seem to support either. I'm testing a different way of keeping the connection alive and detecting disconnects that hopefully works on all platforms and all rep

[2020-01-25 02:40] JonGilmore commented on #49
Sweet, looking forward to seeing that. So is it the repeaters that don't support the tcp keepalive/keepidle, or the host OS that is maintaining the connection?

[2020-01-25 04:19] beavis9k commented on #49
It appears the repeater doesn't support it. According to tcpdump there are no responses to the packets sent by pylutron, so pylutron disconnects and reconnects every few seconds. I don't know if it's the keepalive/keepidle packets or the disconnects/reconnects that cause the repeater to lose it's mind, but ultimately that doesn't matter because the end result is the same.

If I'm the only one havi

[2020-01-25 07:33] thecynic commented on #49
Sorry to hear that @beavis9k but I'd strongly advise you to upgrade repeater firmware :( You using inclusive or essential?

I don't think we should remove the keep alive stuff as it does solve quite a lot of other problems (though i guess it creates new ones :) ).

My best alternative would be to take an argument somewhere at creation time to not do keep alive (and plumb it to the home assistant c

[2020-01-25 07:36] thecynic commented on #46
I have a tiny wrapper i instantiate in python shell that i use to test against my repeater, nothing actually i'd call "test project".

I have a strong distaste for asyncio because i find that method of programming confusing and I don't like it :) Integrating this with asyncio in home-assistant is enough exposure of asyncio for me to last a life time :)

[2020-01-25 07:37] thecynic commented on #46
Oh, and patches welcome, when I get around to reviewing and merging them.

[2020-01-25 08:08] beavis9k commented on #49
@thecynic so you're not seeing this issue? What version of FW are you running on your main repeater?

[2020-01-25 08:13] thecynic commented on #45
I have a bunch of comments, but i can't do an extended review in your tree since i'm not the owner. if you squash your commits and do a PR, I can give a review.

One thing that jumped out at me right away is how you stuff everything onto a single Processor class  and have all sorts of ifs/thens, etc. My view is that you should really use an inheritance model with a base Processor and a simple-ish

[2020-01-25 08:24] thecynic commented on #17
I commented on 29642.

@JonGilmore so it's happening to you too? Back when I pushed 0.2.5, you tested it and things were working for you. Has this regressed for you too then?

[2020-01-25 08:32] thecynic commented on #17
GNET> ?SYSTEM,8
OS Firmware Revision = 10.6.0 [Nov 01 2016 05:48:45]

[2020-01-25 08:32] thecynic commented on #49
@beavis9k
GNET> ?SYSTEM,8
OS Firmware Revision = 10.6.0 [Nov 01 2016 05:48:45]

[2020-01-25 15:18] JonGilmore commented on #17
Certainly appears to have. My recent testing has been flakey at best. I got it to reconnect and work once within HomeAssistant, but all other times, it has failed. TBH, I can't remember when I upgraded my repeater fw, but I'm now on 12, maybe that impacted things?

[code]

[2020-01-27 03:52] alancommike commented on #45
Well, it did start with a small incomprehensible map. :)

Before I did a PR, I wanted to make sure there was a path to committing. I’ll refactor the processor class.

 …alan

From: Dima Zavin <notifications@github.com>(mailto:notifications@github.com)
Reply: thecynic/pylutron <reply@reply.github.com>(mailto:reply@reply.github.com)
Date: January 25, 2020 at 12:13:32 AM
To: thecynic/pylutron <pylutr

[2020-01-31 17:39] JuanitoAlimana commented on #17
stop emails

On Sat, 25 Jan 2020 at 03:32, Dima Zavin <notifications@github.com> wrote:

[2020-01-31 17:42] cdheiser commented on #17
You need to unsubscribe from the issue.

[2020-01-31 18:04] JuanitoAlimana commented on #17
i have done millions of times

On Fri, 31 Jan 2020 at 12:42, cdheiser <notifications@github.com> wrote:

[2020-03-03 03:37] JonGilmore opened #51 "pypi release?"
@thecynic can you cut a new release on pypi so we can test the latest commits out with home assistant?

[2020-03-03 12:48] Unseen88 commented on #13
@teich so you are saying if i do a clean hassio install above 0.101.3 and by using https://www.home-assistant.io/integrations/homeworks/ this as integration nothing else editing is required ?

[2020-03-03 16:48] teich commented on #13
Yes, as of now QS works fine, due to the timeout bug above. I've been using hassio for months now without issue.

[2020-04-16 20:27] jasonthorpe commented on #45
I have a legacy homeworks illumination system. I have run your test client for your custom version of pylutron outside Home Assistant and it works great. As I am running on HASS I can't get access to the underlying file system to update the version of pylutron. Is your expectation that you will merge your updates in here and it will work without any other changes to the lutron plugin in home assis

[2020-04-17 03:16] alancommike commented on #45
I haven't had a chance to do the refactoring yet, so it'll be a little longer. I expect to get to it in the next few weeks and submit a PR. I haven't included a LED tracking into the code, if your willing to tackle that, it would be useful. I've had no need for that in HA, so didn't implement it, but it should be in for completeness.

I have it working under HASS and have been using it just fine,

[2020-04-17 19:16] jasonthorpe commented on #45
Thanks very much. I persevered last night before you posted back and managed to get it working. The one extra thing I had to do on my installation was change the line:
    hass.data[LUTRON_CONTROLLER].load_xml_db()
to
    hass.data[LUTRON_CONTROLLER].load_xml_db("/tmp/cached_xml_db")
otherwise it wouldn't find the config files.

I am new to home assistant coding so I will have a play with this and

[2020-04-22 05:31] rzulian commented on #13
@Unseen88 the integration you are referring to is only for series 4 & 8, if you have QS you need this one
https://www.home-assistant.io/integrations/lutron/

[2020-06-11 17:34] cdheiser commented on #51
+1

I don't have pypi access or I'd cut a release myself.

[2020-06-12 15:19] Tuckie opened #55 "Add Fade and delay times"
I noticed in your code:

`At some later date, we may want to also specify fade and delay times`

I would love to see that! Being able to customize certain actions would be much appreciated.

[2020-06-13 22:42] thecynic commented on #51
0.2.6 pypi pushed.

[2020-06-13 22:42] #51 closed

[2020-07-15 02:54] Qallupilluq opened #59 "Radio Ra 2 and Home Assistant"
I’m new here and to Home Assistant. I was told someone here may be able to lead me in the right direction. I’m a Ra2 installer and lately I’ve been asked by more than a few clients about timers, for example on a bathroom fan. Ra2 doesn’t natively support this. Does anyone know how I could add this functionality? Even if it’s just using a switch and having the system turn it off 30 minutes later.

[2020-07-17 17:55] cdheiser commented on #59
I do this, but there are some things to consider that might not make it appropriate for residential installs.  Honestly it still evades me as to why Lutron hasn't implemented timers at all.

Here's how this are effectively setup in my home:

- Single RadioRA2 Main Repeater with Bathroom fans on Switches
- Raspberry Pi 3B+ running Home Assistant and Node Red

Home Assistant talks to the Lutron Setu

[2020-07-17 19:00] Qallupilluq commented on #59
The real reason for the timer in this case would be for a infrared patio heater run through a contractor. The owner would like to push a switch and ￼have the timer turn off after a a given time if it's not manually shut off. Thank you for your thoughts. I'll have to look farther into this.

[2020-07-18 02:52] thecynic commented on #59
Lutron doesn't expose this functionality in RRA2 for business reasons, not technical ines. Homeworks has this and many other features (like double taps) and they explicitly keep them out of ra2 to force more complex installs into homeworks. Drives me crazy, but they know they have a good enough market with ra2 that they don't have to canabalize their homeworks market, and for cheaper solutions the

[2020-07-21 04:20] Qallupilluq commented on #59
How were you able to add Luton in Home Assistant? We've been trying for a while and can't get it. 🧐

[2020-07-21 04:52] cdheiser commented on #59
In RadioRA2 (whatever version you're using), under Settings -> Integration, you need to add a username and password for the integration.  It's all telnet/in-the-clear so don't use anything you use anywhere else.

Then for homeassistant, in configuration.yaml, you end up with:

[code]
And you should really use secrets.yaml, but again, this is all over telnet in the clear anyway.  Once you restart,

[2020-07-22 04:20] Qallupilluq commented on #59
This worked great. Thanks

[2020-08-11 04:28] richsands opened #60 "Slow pylutron initialization right after project transfer from RR2 Essentials"
Hi - running RR2 Essentials 12.7.0 and a RR2 repeater with 12.7 firmware update. 93 devices out of 100 configured. 63 repeater phantom buttons configured. I also have a Connect Hub. So a big set-up, whole house. This is integrated with the latest HomeAssistant 0.113.3 running on an Intel NUC under Proxmox / HassOS 4.12, using the current stock HA Lutron RR2 integration. All of this works terrific

[2020-08-14 14:31] cdheiser commented on #60
I have observed this behavior and believe it's related to the 12.x series
firmware.  Something about it makes the telnet server not respond for about
10 minutes after an update.  Or it will work fine if you power cycle the
main repeater.

On Mon, Aug 10, 2020, 9:29 PM Rich Sands <notifications@github.com> wrote:

[2020-08-16 20:02] richsands commented on #60
Whew glad I'm not crazy and it isn't just me. Might have to install a NON-LUTRON smart plug to make power cycling happen.. LOL. I just tried it again and looked at the repeater after finishing the transfer, and the usual flashing red LED pattern during transfer continues after finished for 10 minutes, and then goes to normal. I see someone else reported this at forums.lutron.com but without enough

[2020-08-18 05:13] thecynic commented on #60
I'm not sure how pylutron would detect this vs just a host that isn't
there? It'll try to reconnect continuously every few seconds. Not sure how
you can get hass to know the reasons why. Presumably as you looked at the
log, you'd see it reconnecting?

I'm still running super old firmware so I don't see these problems :)
Personally, I got everything working with Lutron and decided not to keep
messi

[2020-08-18 18:08] richsands commented on #60
I haven't poked more at it but if it is refusing the connection rather than timing out, that might be a simple way to detect this. I suspect it might be doing that, as the pylutron code seems to try over and over very rapidly, logging all the failed attempts with "disconnected" rather than trying and waiting and timing out and trying again. hass could know why if the lutron integration flipped a b

[2020-08-18 18:18] richsands commented on #60
As an aside (not that anyone but me cares...) the reason I am updating to new firmware is that I bought a whole lot of the new RRD-PRO dimmers. These aren't adaptive like the 6NA dimmers - you have to set forward or reverse phase in the Essentials software when you configure the project. The new PRO dimmers are a lot less expensive as they do away with the "smart" phase sensing hardware in the dim

[2020-08-18 21:10] cdheiser commented on #60
Can you include a link to the lutron post?

On Tue, Aug 18, 2020 at 11:19 AM Rich Sands <notifications@github.com>
wrote:

[2020-08-20 13:26] richsands commented on #60
https://forums.lutron.com/showthread.php/16014-Problem-with-RR2-Telnet-integration-after-transfer?p=37644&viewfull=1#post37644 no reply yet.

[2020-09-17 04:17] simplextech commented on #46
Any chance of sharing your wrapper or test example?  Some usage docs to watch output?

[2020-10-18 20:32] richsands commented on #60
YAY! Finally got around to installing RR2 12.8.0 and associated repeater firmware 12.8 update. This problem has been fixed by Lutron - the repeater immediately returns to normal operating mode when transfer is complete. Maddening they don't acknowledge bugs, nor have firmware release notes, but at least they fixed it.

[2020-10-18 20:32] #60 closed

[2020-12-04 05:15] EricE opened #62 "Is Lutron training required/what level to use this package?"
I have gone through the online training and have the Essentials SW.  I designed a system for a new house last year and with all the COVID delays it is just getting to near the end of the project.  I hopefully figured this out a while back but will I have any limitations with using this package (I'm using Home Assistant) since I don't have Essentials PC or Inclusive?  I didn't even recall that ther

[2020-12-04 18:53] cdheiser commented on #62
This doesn't run anything in the controller or in the lutron hardware at
all.  This is simply a library used by home assistant to talk to the Lutron
controller via the published APIs (over telnet).

On Thu, Dec 3, 2020 at 9:15 PM EricE <notifications@github.com> wrote:

[2021-01-05 16:10] dcode commented on #59
@Qallupilluq if you're still looking for the automation piece of this in HA, which eluded me for some time, this is what I got working just today:

[code]

I'm using a LMJ-16R-DV-B to control the exhaust fan. Once #61 is merged, it'll stop showing up as a dimmable light, but this works for now.

The other thing that the Lutron integration for HA lacks right now is proper unique entity support. Thi

[2021-01-05 16:14] Qallupilluq commented on #59
I know we just met but I love you . Thanks
On Jan 5, 2021, 8:11 AM -0800, Derek Ditch <notifications@github.com>, wrote:

[2021-01-05 16:29] dcode commented on #59
I buy into "love at first comment", it's okay.

[2021-01-13 23:45] Gorr75 opened #64 "Grafikeye QS with network interface support"
Hi,
I have been looking to integrate my Grafikeye QS with a network interface https://www.lutron.com/TechnicalDocumentLibrary/040249.pdf into home assitant.
Is it possible to expand pylutron to support this? I would help testing it on my system. I have 2 grafik eye qs and 3 International seeTouch QS 10-Button Wallstation with Raise/Lower
Thank you in advance!
Not sure if it's ok to post here but I

[2021-01-16 09:12] cdheiser commented on #64
Have you just tried it?  If Grafikeye QS truly uses the same integration
protocol, I'm not sure why it wouldn't just work already.   The only thing
I could think of that might get in the way is the device type might be
different for your keypads and thus might need to be added.

On Wed, Jan 13, 2021 at 3:46 PM Gorr75 <notifications@github.com> wrote:

[2021-01-16 22:17] Gorr75 commented on #64
I haven't tried it since I think it will fail but I will give it a try this weekend.
Grafikeye QS not asking for any password just the user which is defaults to nwk

This is from a home assistant post I did.

"I have a Grafikeye QS that have a IP interface that I think is the same commands as homeworks QS. How ever there is only a login and no password and prompt is blank as in no QNT> just

Using

[2021-01-22 16:08] tareco opened #65 "Use a non-default telnet port"
Hi everyone,
Is there a way to use an alternative port other than tcp/23?
Thank you.

[2021-01-23 01:04] cdheiser commented on #65
It's possible to implement such support but to what end?  Why do you need
to use a non-standard port?  I haven't encountered a firmware version that
allows you to change which port its listening on.

On Fri, Jan 22, 2021 at 8:09 AM Raul Carvalho <notifications@github.com>
wrote:

[2021-01-25 14:26] tareco commented on #65
It's actually a networking challenge, I am reaching to the device through port-forwarding and I don't have access to map port tcp/23.

[2021-01-25 14:29] JonGilmore commented on #65
This is not a good idea - telnet is unencrypted. Personally, I'd vote against this feature as you should be setting up a VPN in order to access the main receiver.

[2021-01-25 14:41] tareco commented on #65
@JonGilmore I understand that telnet is unencrypted and the fact I am using a VPN to secure the connection is actually what motivates my request. Unfortunately the control server cannot forward tcp/23 directly as there are multiple devices in the network that need to be addressed, ending up in a situation where all I have is port-fw. Basically the control server sees a common peer VPN IP address a

[2021-01-25 15:16] tareco commented on #65
If it helps clarify:
https://pasteboard.co/JLi0ZRG.png

[2021-03-11 05:36] maddeuce commented on #59
Hi I interested how are you doing this.  I'm running HA with lutron, but HA core intergation for lutron does not support pico remote.  I been looking for a way to put all my 4 buttons pico to use.   I'm also running heavy automation with node red too.

[2021-03-11 06:15] cdheiser commented on #59
On Wed, Mar 10, 2021 at 9:36 PM maddeuce ***@***.***> wrote:

It does support Pico remotes.  The buttons show up as scenes (as that's how
they're programmed in RadioRA2).  Button presses also fire lutron_event(s)

[2021-03-11 06:28] maddeuce commented on #59
But I don't want that event.  I want to use th remote as an switch to control other non lutron device.  Or do you mean I setup an dummy scene on lutron, track they scene activity and write another action to piggy ride that?

[2021-03-11 13:41] maddeuce commented on #59
Can you show me an example on how to track an scene status on HA.  Cause I can't find any status update with scene, so how do we use it to trigger other devices.

[2021-03-11 17:30] rdgerken commented on #59
I would also like to learn how to use a Pico remote on a RadioRA2 system to control non-lutron devices via Home Assistant.  I've added the Pico to my system, and did not program any outputs to it in the RA2 software.  Home Assistant is detecting the Pico, and I have scene states for each button on the Pico showing up, but pressing them doesn't seem to generate any events in HA nor does it seem to

[2021-03-11 18:19] toscano commented on #59
Here's what I use for a Pico on my night table. There are three buttons named `lights_on` `lights_off` and `lights_favorite`

[code]

[2021-03-11 23:56] rdgerken commented on #59
Toscano, thank you for your help.  I did not understand that I could hook into the "lutron_event" like that.  That was the nudge I needed!

[2021-03-12 00:03] rdgerken commented on #59
I guess while I'm here, I can maybe offer the OP some help to do the bathroom fan thing natively in RA2.  The way this can be done is the following:

In the RA2 software:
- On Design Tab - Add a room (i.e. Master Bathroom Rollback)
- No need to add anything to the room
- On Program Tab - select Occupancy
- Select the rollback room you just created
- Enable Rollback, set your timeout
- Then select

[2021-03-12 00:15] cdheiser commented on #59
In NodeRed, you can do the same with a server-events node listening for the
lutron_event type connected to a switch node that looks at the
payload.event.id

I have a Pico Remove named "Water Heater".  The event ids it sends are
water_heater_on or water_heater_off.  I use events for the on button to
trigger a recirculating pump, and then a trigger node to turn it off after
some time.

On Thu, Mar 1

[2021-03-12 01:02] maddeuce commented on #59
OMG.... that what im been looking for haha server-events node... so dumb of me.  Just remapped all my 4 button remote (8x).  32 remote devices...  make my day.
[https://imgur.com/ZSNDpkD](url)

Oh is there an way to pickup button click event.  I know in Habitat hub their lutron integration can divide each button into 2 event, short click and hold and release making even more control feature.  Like

[2021-03-13 00:13] cdheiser commented on #59
See: https://www.home-assistant.io/integrations/lutron/#keypad-buttons

There are limitations as to which buttons generate press vs. release
events.  This is a limitation of RadioRA2.

On Thu, Mar 11, 2021 at 5:03 PM maddeuce ***@***.***> wrote:

[2021-07-08 12:15] JonGilmore opened #68 "pypi repo secret api token"
@thecynic I'd like to automate the PyPI github release with github actions upon a repo tag, but I'll need to either be able to create the secret on this repo for my PyPI API token (requires repo admin), or if you could add your repo token, I'd _really_ appreciate it!

Thanks!

[2021-07-15 01:48] JonGilmore commented on #68
@thecynic would you mind giving this a look? I'd like to merge in https://github.com/thecynic/pylutron/pull/69 but need this first. Thanks!!

[2021-07-16 23:54] thecynic commented on #68
Yeah, let me go figure out how to do that.

[2021-07-17 00:04] thecynic commented on #68
created PYPI_PASSWORD secret with an access token to upload packages for pylutron on PyPi. Give it a go?

[2021-07-17 01:24] JonGilmore commented on #68
[Looks good](https://pypi.org/project/pylutron/0.2.9/) - [here's the workflow](https://github.com/thecynic/pylutron/runs/3091000135?check_suite_focus=true)! Thanks for adding the repo secret @thecynic

[2021-07-17 01:24] #68 closed

[2021-07-17 01:28] JonGilmore commented on #59
going to close this out, seems the issue has ran its course. please open a new one if you're still having issues.

[2021-07-17 01:28] #59 closed

[2021-07-17 01:30] #62 closed

[2021-07-17 01:32] #10 closed

[2021-07-17 01:33] #1 closed

[2021-07-17 01:52] cdheiser commented on #64
@Gorr75 did you try it?  From looking at the code, even if your prompt is different, this code will just wait 3 seconds before moving on anyway if it doesn't see GNET>.

I'm going to assume it just works.  If it doesn't, then we'd be happy to review and accept a PR to fix the code, but as I don't have a standalone Grafikeye QS, I don't have a way to test this myself.

[2021-07-17 01:52] #64 closed

[2021-07-17 01:53] cdheiser commented on #49
@beavis9k is this still an issue for you?  I'll note I haven't seen problems like this in quite some time, and this issue is about 18 months old at this point.  Feel free to reopen.

[2021-07-17 01:53] #49 closed

[2021-07-17 01:57] cdheiser commented on #17
@JonGilmore is this still an issue?  I haven't experienced this problem in quite some time.

[2021-07-17 01:59] amattas commented on #17
Timely, we had a power hiccup this evening and it still caused an issue for me. I haven’t had a chance to hunt down logs yet.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: cdheiser ***@***.***>
Sent: Friday, July 16, 2021 9:58:05 PM
To: thecynic/pylutron ***@***.***>
Cc: Anthony Mattas ***@***.***>; Comment ***@***.***>
Subject: Re: [thecynic/pylutron] Command-

[2021-07-17 02:12] JonGilmore commented on #17
@cdheiser I haven't personally witnessed this on my system in a _very_ long time, but I will say that my power and network is extremely stable.

[2021-07-17 02:56] cdheiser commented on #17
I've been spending the week getting around to replacing the rest of my non-smart switches this week and thus updating the repeater multiple times and the connection is consistently coming back fine.  I've only needed to restart home assistant to pull updated XML.

[2021-07-18 13:47] amattas commented on #17
So I forgot that the log file rolls over on reboot – so I can’t find the trace of what happened, I’m going to try to re-create it this week.

Anthony Mattas

***@***.******@***.***>
m: +1 (513) 549-5829

From: cdheiser ***@***.***>
Reply-To: thecynic/pylutron ***@***.***>
Date: Friday, July 16, 2021 at 10:56 PM
To: thecynic/pylutron ***@***.***>
Cc: Anthony Mattas ***@***.***>, Comment ***@***.***

[2021-07-18 14:12] JonGilmore commented on #17
Thanks - let us know what you come up with in your testing.

Also, just an FYI @amattas - your phone number is on your signature when you replied to this, so it showed up on your comment. I deleted it, but people can still view the comment and see the edit. just wanted you to be aware :D

[2021-07-21 01:57] amattas commented on #17
Happened again tonight, aside from the unknown device – I have no idea what caused it.

***@***.***:/opt/homeassistant$ cat home-assistant.log | grep --text lutron

2021-07-16 22:04:03 INFO (MainThread) [homeassistant.bootstrap] Setting up stage 2: {'tts', 'logbook', 'ifttt', 'zwave_js', 'updater', 'ios', 'zone', 'conversation', 'automation', 'group', 'ffmpeg', 'discovery', 'zeroconf', 'blueprint'

[2021-07-22 02:06] cdheiser commented on #17
Anthony,

Can you post your DbXmlInfo.xml from the main repeater somewhere?  It will
both tell us what ID 21 is and what version of the firmware you are using.

On Tue, Jul 20, 2021 at 6:57 PM Anthony Mattas ***@***.***>
wrote:

[2021-07-24 00:57] cdheiser commented on #17
Note I had problems too yesterday and debugged it to the main repeater
taking 10+ minutes to start accepting logins on the telnet port again.
Just waiting long enough resolved the problem.

On Wed, Jul 21, 2021 at 7:06 PM Chris Heiser ***@***.***> wrote:

[2021-07-24 20:36] JonGilmore commented on #17
@cdheiser I feel like what you're describing is a bug on the repeater that I remember reading about on the lutron forums, but I'm struggling to find the thread.

[2021-07-25 06:21] cdheiser commented on #17
Yeah, it used to be that you had to reboot the repeater to fix it.  I'm
running 12.8.0.  I can't see any additional fixes/improvements in 12.9 or
12.10 so I haven't upgraded.

On Sat, Jul 24, 2021 at 1:37 PM Jon Gilmore ***@***.***>
wrote:

[2021-07-29 04:36] cdheiser commented on #17
After tearing my hair out trying to get a firmware update to go through,
I've moved on to 12.10 and everything came back flawlessly, no delays, no
errors.

On Sat, Jul 24, 2021 at 11:21 PM Chris Heiser ***@***.***>
wrote:

[2021-07-29 12:33] amattas commented on #17
I have a dual repeater system, and the multicast packets never seem to traverse the network properly, so I have to upgrade both using empty projects – and then sometimes stuff just breaks, it’s my biggest frustration.

From: cdheiser ***@***.***>
Reply-To: thecynic/pylutron ***@***.***>
Date: Thursday, July 29, 2021 at 12:36 AM
To: thecynic/pylutron ***@***.***>
Cc: Anthony Mattas ***@***.***>, Me

[2021-07-29 17:34] cdheiser commented on #17
You can switch to unicast and it might work better.  My problem is it
completely fails unless I assign a static ip address.

On Thu, Jul 29, 2021, 5:33 AM Anthony Mattas ***@***.***>
wrote:

[2021-07-29 18:05] amattas commented on #17
Unicast works for config changes, but multicast is required for firmware upgrades. smh

From: cdheiser ***@***.***>
Reply-To: thecynic/pylutron ***@***.***>
Date: Thursday, July 29, 2021 at 1:35 PM
To: thecynic/pylutron ***@***.***>
Cc: Anthony Mattas ***@***.***>, Mention ***@***.***>
Subject: Re: [thecynic/pylutron] Command-sending fails to auto-connect. (#17)

You can switch to unicast and it m

[2021-09-11 15:44] cdheiser opened #70 "UUIDs are not working for Homeworks as reported in https://github.com/home-assistant/core/issues/55881"
While the GUUID seems to be working fine, device UUIDs are not working in homeworks.

[2021-09-11 15:46] cdheiser commented on #70
@awrede can you provide your DbXmlInfo.xml.  This document describes how to extract it: https://www.lutron.com/TechnicalDocumentLibrary/HWQS_XML_Extraction_FAQ.pdf

[2021-09-13 22:17] awrede commented on #70
I am currently travelling and won't have physical access to the system until mid October. If it's still usefull to you then, I'll gladly extract and email it to you then.

--
        aew

On Sat, Sep 11, 2021, at 09:46, cdheiser wrote:

[2021-10-01 20:09] bimmbo commented on #70
I am having the same issue with the Lutron integration.  I've attached the xml file you asked for.
[code]

[2021-10-03 05:57] cdheiser commented on #70
Bad News:  You don't have UUIDs.  I can only assume it's older firmware.

Good News: It should be possible to construct a unique ID for every entity
using the following algorithm:

  1) If the entity has an integration ID, use that.
  2) If the entity doesn't have an integration ID, use it's parent
integration id joined with the component number and a dash (or something)
  3) And thus if it does h

[2021-11-21 11:58] wkearney99 opened #71 "Occupancy for everything?"
In Ra2 there's occupancy for areas that have their sensors, and then there's also a 'rollback' timer.  It's possible to have a room set with a rollback timer, and a value that executes a vacancy scene when the timer expires.  This is a handy way to allow manually turning on a light that's part of a rollback group and have it (and anything else in the rollback group) automatically set to a scene on

[2021-11-21 15:53] wkearney99 opened #72 "Area with more than one Occupancy sensor, only last one added?"
If you have an Area (room) that has more than one Occupancy sensor the import routine only creates binary_sensor.AREANAME_occupancy for the last MOTION_SENSOR Device found in the DeviceGroup.

Is it not possible in HA to have more than one occupancy sensor entity in an area?  Though I suppose if all you're observing is the occupancy/vacancy of an 'Area' from the repeater (not the individual sensor

[2021-11-21 22:19] wkearney99 commented on #46
I'd also love to have a way to test how the parser handles inputs from the DbXmlInfo.xml URL from a repeater.  It's clunky doing imports all the way into HA to test for things.

[2021-12-27 03:41] JonGilmore commented on #71
Hm, you're absolutely correct - I never noticed this issue because I have _quite a few_ lutron motions. I'll see if I can take a look at this at some point here, thanks for reporting it

[2021-12-28 18:43] JonGilmore commented on #71
I've got a PR up @wkearney99 to fix this, would love it if you could give some feedback and test it out. I did some basic testing on my system and things look OK, but 🤷

[2021-12-30 06:03] EricE opened #74 "Documentation questions"
I'm prepping for installing a repeater for my RA2 installation in a new house and ran across some info that differs from the Lutron page in the HA docs.  Apparently in new versions of the Essentials/Inclusive software they have deleted the default logins, e.g. lutron/integration ( https://forums.lutron.com/showthread.php/15054-Data-Privacy-Compliance-(removal-of-default-login-for-integration)-ques

[2021-12-30 10:05] cdheiser commented on #74
On Wed, Dec 29, 2021 at 10:03 PM EricE ***@***.***> wrote:

Seems reasonable.  The HA developer documentation here should be helpful:
https://developers.home-assistant.io/docs/documenting

Really, its only purpose is to provide an API for Home Assistant's
integration.  What sort of info would you want to include that shouldn't be
part of the HA Lutron documentation?

[2021-12-31 23:08] EricE commented on #74
It seems like the official documentation is always somewhat sparse, "just the facts".  I'm thinking so something more wordy which seems to fit better with a Wiki style; something like this https://github.com/FutureTense/keymaster/wiki.  For instance, I think it might be helpful to have basic info on using the Essentials SW since I haven't found a great step by step tutorial.

[2022-01-01 01:18] joshtbernstein commented on #74
It's been a while, but did you compete the Lutron training? What would you be looking for that's not in the training? Also their forums have some good info too.

[2022-01-01 08:59] EricE commented on #74
I did complete the training and have the software.  I took lots of notes but I still had a some questions as I went through my initial setup (was about a year between the training/doing while building a house).  There were a number of options for instance where I didn't find useful info online, e.g. "Enable Rollback".  Also why did occupancy sensors for rooms that don't have an occupancy sensor sh

[2022-01-28 20:14] daytonturner opened #75 "Support for RA3"
Hi all,

Absolutely love the work done in pylutron which gets used in HomeAssistant and others.  Now that RadioRA3 is released, is anyone working on adding support?

I will have my hands on a RA3 processor shortly, is there anything I can do to help facilitate?  I'm told its the same command set as HomeWorks QSX, but presumably has its own unique certificates to worry about.

How can I help?

[2022-01-29 02:51] cdheiser commented on #75
First it looks like I have some new training to take.  I haven't been able
to find an integration protocol specification that includes RA3.  (The
latest I can find is from 2020:
https://www.lutron.com/TechnicalDocumentLibrary/040249.pdf)

The 2 things that would be really useful are:

1) An integration protocol specification if you know where to find it
2) The DbXmlInfo.xml from the repeater (if i

[2022-01-29 02:54] JonGilmore commented on #75
I certainly could be wrong (I haven't been able to do the training yet either), but as I recall, the integration protocol spec isn't "published", but it's only been given to the big integrators (crestron, savant, etc) so far.

[2022-01-29 03:36] cdheiser commented on #75
Yeah, this looks like they call it the LEAP protocol.

While it's likely that RadioRA3 can share the home assistant integration, I
have no idea at this point what's going to be required to make pylutron RA3
aware/compatible.  If we're lucky, the underlying protocol is the same,
just going over a TLS connection.

On Fri, Jan 28, 2022 at 6:54 PM Jon Gilmore ***@***.***>
wrote:

[2022-01-29 03:39] daytonturner commented on #75
Check out the GitHub repo for pylutron-caseta

It’s a caseta-only LEAP implementation. While generally the same RESTful TLS protocol; some of the endpoints are a little different. The understanding (unconfirmed) so far is that it shares the same protocol spec as QSX.. maybe there’s an opportunity to merge the work the pylutron-caseta folks did implementing LEAP and roll everything up into a generi

[2022-01-29 06:30] cdheiser commented on #75
Ok, that was the most worthless training I've been through.  They really
should have an abridged version for RA2 Certificate holders.

I'm sure what's likely to work is some refactoring of the
pylutron-caseta LEAP implementation to use here.  I went looking to see if
I should just buy a RA3 processor but I'm not looking to spend $300+ to get
RA3 working.

On Fri, Jan 28, 2022 at 7:39 PM daytonturn

[2022-01-29 08:16] thecynic commented on #75
I emailed Lutron to ask for a LEAP specs. I'm not hopeful they'll respond,
but we'll see what they say if they do :)

On Fri, Jan 28, 2022 at 10:30 PM cdheiser ***@***.***> wrote:

[2022-01-30 07:47] daytonturner commented on #75
@cdheiser i will happily send you a RA3 processor if you’re interested in working on this!

[2022-01-30 19:57] terafin commented on #75
I have a RA3 processor, and am trying things out here. All the caseta leap commands seem to fail with 400/405. Does anyone know which commands should work, so I can start poking?

[2022-01-30 20:57] terafin commented on #75
Nevermind, it was bad auth. Got it working now:
[code]

Working on playing around with the commands now.

[2022-01-30 21:07] terafin commented on #75
Yup, looks like so far it looks like you do a query on:
/area/ (to see areas)
/area/AREA_NUMBER found above, to discover control stations and sub areas
/controlstation/CONTROL_STATION_NUMBER from the area (to get device number)
/device/DEVICE_NUMBER

to get:
[code]

[2022-01-30 21:28] terafin commented on #75
I can confirm that level control works:
[code]
Gives me back:
[code]

Please note, I'm prototyping using: https://github.com/thenewwazoo/lutron-leap-js/
Tagging: @thenewwazoo

[2022-01-30 21:31] daytonturner commented on #75
Nice! This is looking promising

[2022-01-30 21:47] thenewwazoo commented on #75
Neato! I only have Caséta hardware at home, but both the Crestron integration and Lutron Android application use the same structures for their LEAP communications, so I have a strong suspicion that libraries are cross-device capable. I suspect (but have no way to verify) that the differentiator is in the kinds of parameters the respective devices support and report (e.g. the occupancy sensor's amb

[2022-01-30 21:49] thenewwazoo commented on #75
Oh, and I would be _extremely_ surprised if Lutron provided the LEAP guide document to anyone who doesn't hold an NDA.

[2022-01-30 21:54] daytonturner commented on #75
Yeah - I fully expect the only way to get this working is through reverse engineering things.

[2022-01-30 22:02] thenewwazoo commented on #75
The pylutron-caseta cats and I have gotten pretty good and decompiling things and watching network communications. The big stumbling block is usually just getting our hands on the hardware so we can observe it. @daytonturner if that offer is still good, I'd love to actually have a non-Caséta device to do validation with.

[2022-01-31 00:23] terafin commented on #75
@thenewwazoo Does the iOS app use LEAP as well, or just Android? (Have you tried?) - I just saw non LEAP stuff going from the iOS to lutron servers via charles... (I might have to pull out my pixel)

[2022-01-31 00:33] thenewwazoo commented on #75
I don't know, as I haven't inspected the iOS app, but traffic to Lutron servers is separate from the bridge comms, which are only over the LAN.

[2022-01-31 00:58] terafin commented on #75
I'm trying to document the commands I find here that are not yet supported in your lutron-js, please let me know if this is helpful or not:
https://github.com/thenewwazoo/lutron-leap-js/issues

[2022-01-31 02:40] terafin commented on #75
(making headway, I'm opening up issues there to document the control types, and subscribe)

[2022-01-31 03:13] rwagoner commented on #75
If it helps the [OpenHAB Addons Lutron binding](https://github.com/openhab/openhab-addons/tree/main/bundles/org.openhab.binding.lutron) has experimental LEAP support.

There are a number of request formats defined in [internal/protocol/leap/Requests.java](https://github.com/openhab/openhab-addons/blob/main/bundles/org.openhab.binding.lutron/src/main/java/org/openhab/binding/lutron/internal/protoco

[2022-01-31 04:53] terafin commented on #75
@rwagoner Thanks! Note, these are new (?) RA3 commands, or appear to be. The caseta ones don't seem to work on RA3 either, I added a bunch here:
https://github.com/thenewwazoo/lutron-leap-js/pull/15

More I'm sure to come.

[2022-02-10 17:57] electron1963 commented on #74
You mention you have a bunch of notes.  Would you be willing to share them.  I'm a novist programmer and would appreciate any help I can get!

[2022-05-02 16:33] ericlegallais opened #76 "Would this work with RF Dimming Module (lmj-5t-dv-b rf)"
I'd like to know if pylutron would/will work with a dimming module lmj-5t-dv-b rf? I can't test it right now, but I'd used the modules to control some 0-10v drivers (a total of 16) and before buying them I'd like to know if it's going to work.

Thanks a lot for the good work btw, already using this integrated with Home Assistant and Lutron keypads

[2022-05-02 22:03] cdheiser commented on #76
It should work fine.  If it doesn't, we can fix it with a little debugging
data from you.  In theory, this should just present like any other summer.

On Mon, May 2, 2022, 5:34 PM ericlegallais ***@***.***> wrote:

[2022-05-03 01:34] ericlegallais commented on #76
Excellent news. I'll buy them, test them and tell you guys if it's not working. CLosing issue. :)

[2022-05-03 01:34] #76 closed

[2022-06-03 18:27] EricE opened #78 "Uncaught exception"
I just upgraded from the last 2022.5 to 2022.6.1 and commented out some settings in configuration.yaml for two devices that are now configured in the UI.  I also noticed that I hadn't put the Lutron username and password in my secrets.yaml file so I did that and restarted.  At that point, I noticed that Lutron wasn't loading and when I looked in the logs I saw a repeating error:  [pylutron] Uncaug

[2022-06-05 17:43] cdheiser commented on #78
The code is doing what it's supposed to.  There's a problem talking to your repeater and thus we throw an exception and bail out.

What version of the RadioRA2 software/firmware are you running?  This looks like it's one of 3 possible issues:

1. A general network connectivity issue
2. A software/firmware issue on the main repeater.  (There are some versions of the firmware that had a lot of probl

[2022-06-06 03:15] EricE commented on #78
In the logs it keeps retrying, I think I waited around 5 min before restarting.  The only thing I was doing was trying to move the Lutron credentials to secrets.yaml.  Maybe the code wasn't getting the credentials and passing null values to the repeater?

I am on 12.10.0/firmware is 12.10.0 (I think, got it from the Firmware Update Summary window).

The system has been very solid, I have 70+ devic

[2022-06-06 10:46] rdgerken commented on #78
I'm using a secret file to login to my RA2 system on the same 12.10.0 firmware without issue:

configuration.yaml entry:

[code]

secrets.yaml entry:

[code]

[2022-06-30 01:04] JoeyEamigh commented on #78
Hey! This is the wackiest bug but I think I have it (or a workaround) figured out - the Lutron RadioRA2 main repeater doesn't seem to like being on a network with a 172 prefix - so anything in the 172.16.0.0/12 range.

No idea why this is, but putting the main repeater on the 192.168.0.0/16 fixed this issue.

[2022-06-30 01:06] rdgerken commented on #78
Mine is on a 172 network and I do not have this problem.

[2022-06-30 01:08] JoeyEamigh commented on #78
Intriguing - for some reason my main repeater acts up with the 172 network. 10.0.0.0/8 and 192.168.0.0/16 all work fine.

Just wanted to comment in case anyone else is having this telnet disconnect issue.

[2022-07-05 16:15] kaaspad opened #79 "Lutron illumination"
Hi I'm running a lutron system that's older than the QS version - its running the Lutron illumination software. I have ethernet access to the controller. Do you know if pylutron or any of the HA integrations (lutron or homeworks) will work with this system? If so which one and how would I start. Thanks!

[2022-07-06 03:24] cdheiser commented on #79
The integration protocol guide only mentions HomeWorks QS.  I don't see any
mention of HomeWorks Illumination in the protocol guide, nor can I find an
integration guide for HomeWorks Illumination.  So I'm going to guess that
none of the home assistant lutron integrations are going to work.  If you
can telnet and login to your system, then you can try the lutron
integration which uses pylutron.

On

[2022-07-06 04:08] kaaspad commented on #79
Thanks for responding, I can both telnet and login. I’ll try to install the Lutron one and see what happens. Thanks

[2022-09-24 19:52] tal opened #80 "Support for new Caseta switches"
I just installed one of the new Caseta Diva switches and it doesn't appear to be supported. I am using this via Home Assistant and am not setup to easily debug this directly, but I was curious if this was an expected issue or the library _should_ be able to handle new switches and something else may be going on.

Thanks!

[2022-09-25 13:03] JonGilmore commented on #80
pylutron isn't compatible with ra3. You should check out this [repo here](https://github.com/gurumitts/pylutron-caseta/issues/115)

[2022-09-25 13:03] #80 closed